

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  width: 100%;
  background-color: #0b103d;
  color: white;
  padding: 16px 32px;
  font-size: 30px;
  font-weight: bold;
  justify-content: flex-start; /* aligns text to left */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust for header height */
  padding-top: 30px;
  background-color: white;
}

.register-box {
  background: #0b103d;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 425px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: whitesmoke;
  color: black;
}

.button {
  width: 100%;
  padding: 12px 15px;
  background-color: #2a3275;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

.button:hover {
  background-color: #1e2455;
}

.signinText {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.signinLink {
  color: #5d6bc7;
  text-decoration: none;
  font-weight: bold;
}

.signinLink:hover {
  text-decoration: underline;
}
